.attendance-form {
    width: 95%;
    padding: 2%;
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.attendance-form select,
.attendance-form input[type="date"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 15px;
    border-radius: 5px;

}

.attendance-form label {
    display: block;
    margin-bottom: 5px;
}

.attendance-form button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.attendance-form button:hover {
    background-color: #45a049;
}
